﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="about.aspx.cs" Inherits="about" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <body>


<center>
<div class="container row" style="text-align: center; font-size: 4em; width: 1373x; margin-top:150px;">
	<div class="col-6" title="Click Here to see all Students" style="background-color: rgba(0, 0, 0, 0.4); border: 2px solid; border-radius: 25px;" onmouseover="style='background-color: rgba(0, 0, 0, 0.4); border: 2px solid; border-radius: 25px;';">
		 <%=cstudent %>&nbsp &nbsp <i class="fa fa-users"></i>
        <br>
		Students
	</div>
	<div class="col-6" title="Click Here to see all Books" style="background-color: rgba(0, 0, 0, 0.4); border: 2px solid; border-radius: 25px;" onmouseover="style='background-color: rgba(0, 0, 0, 0.4); border: 2px solid; border-radius: 25px;';">
        <i class="fa fa-book"></i>
		<%=cbooks %><br>
		Books
	</div>	
</div>
    <asp:Button ID="btn" runat="server" Text="See All Books of Library" CssClass="btn btn-outline-info" style="margin-top:100px;" OnClick="btn_Click" />
</center>




    </body>
</asp:Content>

