﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="forgotpass.aspx.cs" Inherits="forgotpass" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <body style="background-image: url(image/background.jpg);background-size: cover;">
<center>
<div class="form shadow-lg p-4" style="background: rgba(0, 0, 0, 0.7); width:45%; margin-top:80px; border-radius:50px;">

    <h2 align="center" style="color: white; margin-top:35px;"> Enter Email And get Password </h2><br><br>
      <div class="form-group" align="left">

        <label style="color: white;"><b>Enter Email:-</b></label>
            <asp:TextBox ID="TextBox1" runat="server" placeholder="Enter Email" CssClass="form-control" AutoCompleteType="Disabled" required=""></asp:TextBox>
        
          <br />
          <br />


    <asp:Button ID="Button1" runat="server" CssClass="btn btn-primary" style="width: 100%" Text="Login" OnClick="Button1_Click" /> 

          <br /><br /><br />
</center>

        </body>


</asp:Content>

